.contactcardbody
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    border-radius: 20px; 
    padding: 16px; 
    background-color: transparent;
    border-top:1px solid rgb(12, 12, 118); 
    border-right:1px solid rgb(12, 12, 118);
    border-left:1px solid rgb(12, 12, 118);
  
}
.contactcardcontent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.contactcardname
{
    color: white;
    font-family: sans-serif;
    font-size: 1.25rem;
}
.contactcarddesignation
{
    color: #e0e0e0;
    font-family: serif;
    font-size: 0.875rem;
}
.contactcardicons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
    margin-top: 0.5rem; 
}
.smallicons
{
    width: 1.5rem;
    height: 1.5rem;
}
.bigicons
{
    width: 2rem;
    height: 2rem;
}
.contactcardimg
{
    width: 225px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom:5px;
}
.contactcardimg3
{
    width: 225px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom:5px;
    
}