.tracktitle
{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    
}


.trackbody
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-bottom: 50px;
    margin-left: 5vw;
    padding-top: 100px;
    margin-right: 5vw;
   
}
.trackcontainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}



@media (max-width: 639px){

    .trackcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 75px;
    }
    
}
@media (min-width: 1024px) {
    .tracktitle{
    
    font-size: 2.5rem;
    }
  }
  
  /* On medium-sized screens (md) */
  @media (min-width: 768px) {
    .tracktitle{
    font-size: 2rem;
  }
}