.tracktitle
{
    text-align: center;
    font-size: 200%;
    
}

.trackcard
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.trackbody
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.trackcontainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.trackcardtitle
{
    font-size: 100%;
    color: #4A4AFF;
    font-family: sans-serif;
}