.tracktitle
{
    text-align: center;
    font-size: 200%;
    color: white;
    
}

.trackcard
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.trackbody
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-bottom: 200px;
    padding-top: 100px;
    
}
.trackcontainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.trackcardtitle
{
    font-size: 100%;
    color: white;
}
.trackcardfees
{
    font-size: 100%;
    color: white;

}
@media (max-width: 639px){

    .trackcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 75px;
    }
}