.eventbody
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 100px;
}
.eventsbody
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.eventtitle
{
    font-size: 200%;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #4A4AFF;
    font-family: sans-serif;
}
.events
{
    font-size: 200%;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}