.faqcardbody
{
    margin: 20px 7vw;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #05052d;
    border-radius: 10px;
    color: #e0e0e0;
    border-top:1px solid rgb(12, 12, 118); 
    border-right:1px solid rgb(12, 12, 118);
    border-left:1px solid rgb(12, 12, 118);

    font-family: sans-serif;
    font-size: 0.5rem;

    position: relative;
    transition: all 0.3s;
}

.faqcardshow
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}
.faqcardanswer
{   
    animation: fadeInDown 0.8s;
    transition: all 0.3s ease-out;
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.faqcardopen
{
    /* width: 55px;
    height: 100%;
    background-color: #4A4AFF;
    border-radius: 50px;
    position: relative;
    top: 0;
    right: 100%; */
    font-size: 200%;
    
}
.faqcardclose
{
   
    font-size: 150%;
    position: absolute;
    top: 3%;
    right:2%;
    transition: 0.3s;
    transform: rotate(180deg);
}