@import url(https://db.onlinewebfonts.com/c/107a82b03afe661cb8ef268bd146c38c?family=Nevan+RUS);
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../assets/bgmain.svg');
  
  background-repeat: no-repeat;
  background-size: cover;
}


.herotext{
  color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Nevan RUS;

font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.3rem
}