.contacttitle
{
    font-size: 1.7rem;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: sans-serif;
}
.contactholder
{
    display: flex;
    flex-wrap: wrap;
    gap: 15vw;
    justify-content: center;
    padding: 50px 100px;
}
.contactbody
{
    background-image: url("/contactbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
@media (min-width: 1024px) {
    .contacttitle{
    font-size: 2.5rem;
  }
}
  /* On medium-sized screens (md) */
  @media (min-width: 768px) {
    .contacttitle{
    font-size: 2rem;
  }
}