.contacttitle
{
    font-size: 250%;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: sans-serif;
}
.contactholder
{
    display: flex;
    flex-wrap: wrap;
    gap: 15vw;
    justify-content: center;
    padding: 50px 100px;
}
.contactbody
{
    background-image: url("/contactbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}