.regbody
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 0 10vw;
    margin-bottom: 0;
    padding-bottom: 100px;
}
.regtitle
{
    font-size: 200%;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.regtext
{
    color: white;
    font-family: sans-serif;
    text-align: center;
    
}
.regbtn
{
    background-color: #4A4AFF;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    
}
.regbtn:hover
{
    cursor: pointer;
    background-color: #3b3bff;
}